.blog_post {
    max-width: 900px;
    margin: 0 auto;
    padding: 1.5rem;
    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
    }
}
.blog_post h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-family: var(--font-sans-serif);
}
.post_content {
    font-size: 1.125rem;
    p {
        margin-block: 1.5em;
        text-align: justify;
        text-justify: inter-word;
        line-height: var(--line-height-loose);
    }
}
